body {
   background-image:url("../images/oriental/oriental.png") 
  
}

.navbar {
    background-color: rgb(97, 2, 49);
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 75px;
}

.navbar .size {
    width: 1400px;
}

.navbar .title {

    float: left;
    background-color: rgb(224, 223, 223);
    height: 100px;
    width: 200px;
    color: rgb(97, 2, 49); 
    margin-left: 400px; 
    text-align: center;
}

.navbar a {
   

    font-size: 20px;
    color: #f2f2f2a8;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 50px;
}

.links {
    float: right; 
}

.nav-divider1 {
    border-right:2px solid lightgray; 
     height: 20px;
     right: 265px;
     top: 35px; 
    position: absolute;
     
}

.nav-divider2 {
    border-right: 2px solid lightgray; 
     height: 20px;
     right: 145px;
     top: 35px; 
     position: absolute;
     
     
}

.navbar a.active {
    background-color: lightgray;
    color: black;
    height: 75px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    height: 75px;
}

.container {
    background-color: rgb(224, 223, 223);
    width: 960px;
    height: 640px;
    border: 1px solid #004c66;
    margin: 20px 80px 20px 400px;
    position: relative;
    
}

h2 {
    padding-left: 20px;
}

hr {
    color:   #004c66;
    height: 1px;
    width: 920px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(97, 2, 49),rgba(0, 0, 0, 0));
}

.profile {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 200px;
}

.content {
    padding-top: 2px;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
}

.image {
    padding-bottom: 30px;
    position: relative;
    float:left;
    margin: 20px;
}

.banner {
    position: absolute;
    z-index: 10000;
    bottom: 10px;
    background-color: rgb(97, 2, 49);
    width: 100%;

}

.banner h4 {
    margin-left: 25%;
    color:rgb(224, 223, 223);
    

}

.input {
    width: 900px;
    height: 30px;
}

#message {
    height: 200px;
}

#submit {
    background-color:rgb(97, 2, 49); 
    color:  rgb(224, 223, 223);
}


footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color:   #004c66;
    border-top: 10px solid rgb(20, 156, 2);

}

.copy {
    position: absolute;
    text-align: center;
    bottom:0;
    font-size: 10px;
    color: rgb(224, 223, 223);
    line-height: 0;
    width: 100%;
}

