body {
   background-image:url("../images/oriental/oriental.png");
   margin: 0; 
   
}


.navbar {
    background-color: rgb(97, 2, 49);
    overflow: hidden;
    font-size: 18px;
    height: 75px;
}

.stage {
    width: 100%;
}

.navbar .title {

    float: left;
    background-color: rgb(224, 223, 223);
    height: 100px;
    width: 200px;
    color: rgb(97, 2, 49); 
    margin-left: 20%; 
    text-align: center;
}

.navbar a {
   
    font-size: 20px;
    color: #f2f2f2a8;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.links {
    margin-right: 23%;
    float: right; 
    height: 80px;
    padding-top: 25px;
}

.navbar a.active {
font-weight: bold;
color: #ffffff;
}

.navbar a:hover {
    text-decoration: underline;
    font-weight: bold;}

.container {
    background-color: rgb(224, 223, 223);
    width: 960px;
    height: 640px;
    border: 1px solid #004c66;
    margin: 0 auto;
    position: relative;
    
}

h2 {
    padding-left: 20px;
}

hr {
    color:   #004c66;
    height: 1px;
    width: 920px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(97, 2, 49),rgba(0, 0, 0, 0));
}

.profile {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 200px;
}

.content {
    padding-top: 2px;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
}

.image {
    padding-bottom: 30px;
    position: relative;
    float:left;
    margin: 20px;
}

.banner {
    position: absolute;
    z-index: 10000;
    bottom: 10px;
    background-color: rgb(97, 2, 49);
    width: 100%;

}

.banner h4 {
    margin-left: 25%;
    color:rgb(224, 223, 223);
    

}

.input {
    width: 900px;
    height: 30px;
}

#message {
    height: 200px;
}

#submit {
    background-color:rgb(97, 2, 49); 
    color:  rgb(224, 223, 223);
}


footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color:   #004c66;
    border-top: 10px solid #000000;

}

.copy {
    position: absolute;
    text-align: center;
    bottom:0;
    font-size: 10px;
    color: rgb(224, 223, 223);
    line-height: 0;
    width: 100%;
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
   
    .container {
        width: 99%;
        height: auto;
    }

    hr {
        width: 100%;
    }

    input.input {
        width: 90%;
    }

}

/* On screens that are 640px or less */

@media screen and (max-width: 640px) {

.container {
     width: 99%;
     height: auto;
 }   
    
.navbar .title {
    margin-left: 0%;
    width: 100%;
    height: 60%;
}

section.navbar {
    height: 100px;
}

.links {
    height: 40%;
    padding-top: 2%;
    float: none;
    width: 100%;
    text-align: center;
    display: inline-block;
}

hr {
    width: auto;
}


img.profile {
    float: none;
    padding: 0px;
    display: inline-block;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 5% 10%;
}

input#submit {
    margin-bottom: 10px;
}

.image {
        float: none;
        margin: 5% auto;
        width: 200px;
}

section.content {
    padding-left: 10px;
    padding-right: 10px;

}

}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) and (min-width: 641px)  {

section.navbar {
    width: 100%;

}

hr {
    width: auto;
}


.container {
    width: 99%;
    height:auto;
    display: inline-block;
    margin-bottom: 20px;
}

.navbar .title {
    margin-left: 0;    

}

.links {
    margin-right: 5%;
}

section.content {
    padding-top: 0;
    padding-left: 0px;
    padding-right: 3px;
}

img.profile {
    padding-top: 16px;
    padding-left: 25px;
}

p.copy {
    padding-bottom: 20px;
}

input.input {
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

input#submit {
    margin-left: 15px;
    margin-bottom: 10px;
    
}
    section.navbar {
        width: 100%;
    
    }

}

/* On screens that are 980px or less */
@media screen and (max-width: 980px) and (min-width: 769px)  {

    .container {
        width: 99%;
    }

    hr {
        width: auto;
    }

    .navbar .title {

        margin-left: 2%;
    }    
        
    .links {
            margin-right: 2%;
    }    

    input.input {
        width: 90%;
        margin-left: 2%;
    }

    p {
        margin: 20px;
    }

    input#submit {
    margin-left: 2%;
}


}